#result{
    display: flex;
    align-items:flex-end; /*從底部開始排列*/
    flex-wrap: wrap; /*允許元素換行，搭配子元素寬度100%可達成換行效果*/
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 2vh 20vw;
    border: #112d4e57 0.15vw solid;
    border-radius: 0.5vw;
    min-height: 30vh; /*考慮到行數可能很多，故只限制最小高度，留下伸縮空間*/
}
#history{
    font-family: sans-serif;
    font-size: 1.5vw;
    color: rgba(128, 128, 128, 0.5);
    margin-bottom: 1vh;
    text-align: end; /*向右對齊*/
    width: 100%;
    word-break: break-all; /*文字超出寬度強制換行*/
}
#calculating{
    position: relative;
    bottom: 1vh; /*讓他固定在底部*/
    font-family: sans-serif;
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: black;
    text-align: end; /*向右對齊*/
    width: 100%;
    word-break: break-all; /*文字超出寬度強制換行*/
}
.container{
    padding: 0 20vw;
    display: grid; /*類似表格狀排列*/
    /*3列7行，寬和高皆等分*/
    grid-template-rows: repeat(3, 3fr); /*等效於 3fr 3fr 3fr*/
    grid-template-columns: repeat(7, 7fr);
}
.container>div{
    margin: 0.15vw; /*外距，因為grid已規定每格大小，此操作如同讓div邊界向內縮*/
    text-align: center; /*文字置中*/
    padding-top: 1vh; /*文字到邊線距離*/
    padding-bottom: 1vh;
    font-size: 2vw;
    border: #112D4E 0.1vw solid;
    border-radius: 7%;
    font-family: sans-serif;
}
.container>div:hover{
    background-color: #3f71afa3;
    color: rgb(255, 255, 255);
}
.operator{
    background-color: #c5cbd6;
}
.number{
    background-color: #DBE2EF;
}

/*非RWD以下都複製*/
#title{
    text-align: center;
    padding: 5vh 0;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 10vh;
}


.tools_div_text{
    padding: 0 20vw;
    margin-top: 20vh;
}
/*RWD，測試以360*780*/
@media screen and (max-width: 600px) {
    #title{
        padding: 5vw 0;
        font-size: 8vw;
        margin-bottom: 10vw;
    }
    /*
        .counter跟其html有改（inline-style）
        #counter_img、#footer_text、#title也是
    */
    /*到這邊複製*/
    .tools_div_text{
        padding: 0 5vw;
        margin-top: 10vw;
    }
    #rwd_tools_text{
        font-size: 4vw !important;
    }
    h1{
        font-size: 6vw !important;
    }


    #result{
        margin: 2vw 5vw;
        min-height: 30vw;
    }
    #history{
        font-size: 4vw;
    }
    #calculating{
        font-size: 8vw;
    }
    .container{
        padding: 0 5vw;
    }
    .container>div{
        font-size: 4vw;
        margin: 0.3vw;
    }
}