#input{ /*<textarea>*/
    margin: 2vh 23vw;
    min-height: 50vh;
    width: 50vw;
    padding: 1vw;
    background-color: #e8edf5;
    border: 0.25vh solid #1e4672;
    border-radius: 3vh;
    font-size: 1vw;
}
.div_result{
    font-size: 1vw;
    padding: 0 23vw;
}
.result{
    display: inline-block; /*用在子元素*/
}
.tools_div_text{
    padding: 0 20vw;
    margin-top: 20vh;
}


/*非RWD以下都複製*/
#title{
    text-align: center;
    padding: 5vh 0;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 10vh;
}


.tools_div_text{
    padding: 0 20vw;
    margin-top: 20vh;
}
@media screen and (max-width: 600px) {
    #title{
        padding: 5vw 0;
        font-size: 8vw;
        margin-bottom: 5vw;
    }
    /*
        .counter跟其html有改（inline-style）
        #counter_img、#footer_text、#title也是
    */
    /*到這邊複製*/
    #input{
        margin: 0 5vw;
        width: 80vw;
        border-radius: 2vh;
        padding: 1vh;
        font-size: 1.5vh;
    }
    .tools_div_text{
        padding: 0 5vw;
        margin-top: 10vw;
    }
    #rwd_tools_text{
        font-size: 4vw !important;
    }
    h1{
        font-size: 6vw !important;
    }
    .div_result{
        padding: 0 5vw;
    }
    .result{
        font-size: 2vh;
    }
    .rwd_subdiv_result{
        display: block !important;
        width: 99% !important;
    }
}