.div_input{
    margin: 2vh 25vw;
    padding: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #DBE2EF;
    border-radius: 1vw;
}
.div_input>*{
    font-size: 5vh;
}
.div_input>input{
    border-radius: 0.5vw;
    background-color: #f2f2fa;
    border: none;
    text-align: left;
}
#repeat{
    height: 4vh;
    aspect-ratio: 1 / 1;
}
#start{
    margin: 10vh auto;
    width: 20vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size: 7vh;
    border: #112D4E 0.2vw solid;
    background-color: #DBE2EF;
    border-radius: 1vw;
}
#start:hover{
    background-color: #3F72AF;
    font-weight: bold;
    color: #f2f2fa;
}
#div_result{
    margin: 0 25vw;
    font-size: 6vh;
}
#result{
    text-align: left;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#result>div{
    background-color: #DBE2EF;
    margin: 0.5vh;
    border-radius: 1vh;
    font-size: 6vh;
    padding: 2vh;
}
/*非RWD以下都複製*/
#title{
    text-align: center;
    padding: 5vh 0;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 10vh;
}


.tools_div_text{
    padding: 0 20vw;
    margin-top: 20vh;
}
/*RWD，測試以360*780*/
@media screen and (max-width: 600px) {
    #title{
        padding: 5vw 0;
        font-size: 8vw;
        margin-bottom: 10vw;
    }
    /*
        .counter跟其html有改（inline-style）
        #counter_img、#footer_text、#title也是
    */
    /*到這邊複製*/
    .tools_div_text{
        padding: 0 5vw;
        margin-top: 10vw;
    }
    #rwd_tools_text{
        font-size: 4vw !important;
    }
    h1{
        font-size: 6vw !important;
    }

    .div_input{
        margin: 1vw 5vw;
        padding: 1vw 0;
        border-radius: 2vw;
    }
    .div_input>*{
        font-size: 6vw;
    }
    .div_input>input{
        border-radius: 1vw;
        width: 55%;
    }
    #repeat{
        height: 5vw;
    }
    #start{
        margin: 10vw auto;
        width: 50vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        font-size: 8vw;
        border: #112D4E 0.5vw solid;
        border-radius: 3vw;
    }
    #div_result{
        margin: 15vw 5vw;
        font-size: 6vw;
    }
    #result>div{
        background-color: #DBE2EF;
        margin: 0.5vw;
        border-radius: 1vw;
        font-size: 6vw;
        padding: 2vw;
    }
}