/*
    把body的margin搞掉
*/
body{
    margin: 0;
}

/*
    header.html的css
*/
#profile_name_smaller{
    background-color: #DBE2EF;
    display: flex; /*下面兩行要在flex才能用*/
    align-items: center; /*區塊內的「物件」上下置中*/
    justify-content: center; /*區塊內的「物件」左右置中*/
    font-size: 4vw; /*螢幕可視範圍的百分比*/
    height: 7vw;
    font-family:  sans-serif; /*設定字體*/
    font-weight: bold; /*粗體*/
}
#a_profile_smaller{
    text-decoration: none;
    color: #112D4E;
}
#a_profile_smaller:hover, #a_profile_smaller:visited, #a_profile_smaller:link, #a_profile_smaller:active {
    text-decoration: none;/*不管被點、滑鼠指到、造訪過...都不要讓超連結顯示底線*/
    color: #112D4E;
}
#profile_picture_smaller{
    width: 4.5vw;
    margin-right: 1vw;
    border: 3px #112D4E solid;
    border-radius: 100%;
}
ul{ /*取消原本<ul>的預設排版*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.drop_down_menu{
    position: sticky; /*會卡在最上面*/
    top:0; /*要告訴他要黏在哪裡*/
    display: inline-block;/*讓元素排成一行*/
    border: none;
    font-size: 1.5vw;
    width: 100%;
    z-index: 999; /*圖層，越大越上層，防止被蓋過*/
}
.drop_down_menu>li{
    position: relative;
    white-space: nowrap; /*空格不換行*/
    width: calc(100%/6);
    background-color: #3F72AF;
    text-align: center;
    float: left;
}
.drop_down_menu>li:hover{
    background-color: #1e4672;
    font-weight: bold;
}
.drop_down_menu>li>a{
    text-decoration: none;
    color: white;
    line-height: 3vw;
}
.drop_down_menu>li>ul>li{ /*第二層選單開始*/
    background-color: #3F72AF;
    text-align: center;
    font-weight: 100; /*因為第一層滑入後會有粗體效果，不設定的話第二層會繼承到*/
}
.drop_down_menu>li>ul>li:hover{
    background-color: #1e4672;
    font-weight: bold;
}
.drop_down_menu>li>ul>li>a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
}
.drop_down_menu>li>ul{
    display: none;
}
.drop_down_menu>li:hover>ul{
    display: block;
    position: absolute; /*使用absolute，下方的元素才不會被擠開*/
    top: 3vw;
    width: 100%;
    z-index: 1000;
}

/*RWD*/
@media screen and (max-width: 600px) {
    #profile_name_smaller{ /*跟首頁一樣大*/
        font-size: 6vw; 
        height: 10vw;
    }
    #profile_picture_smaller{
        width: 6.5vw;
        border: 1.7px #112D4E solid;
    }
    .drop_down_menu{
        font-size: 3.5vw;
    }
    .drop_down_menu>li{
        padding-top: 0.7vw;
        padding-bottom: 0.7vw;
    }
    .drop_down_menu>li:hover>ul{
        top:5.4vw;
    }
}