article{ /*這是<article>*/
    padding: 0 14vw;
}
article>div{
    margin-bottom: 2vh;
    padding: 0 1vw;
    border: 0.1vw solid #3F72AF;
    border-radius: 0.5vw;
}
.article{
    margin-left: 4vw;
    font-size: 1.5vw;
    font-family: sans-serif;
}
.article_date{
    margin-left: 0;
    font-size: 2.5vw;
    font-family: sans-serif;
    line-height: 1;
}
/*非RWD以下都複製*/
#title{
    text-align: center;
    padding: 5vh 0;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 10vh;
}
/*RWD，測試以360*780*/
@media screen and (max-width: 600px) {
    #title{
        padding: 5vw 0;
        font-size: 8vw;
        margin-bottom: 10vw;
    }
    /*
        .counter跟其html有改（inline-style）
        #counter_img、#footer_text、#title也是
    */
    /*到這邊複製*/
    article{ /*這是<article>*/
        padding: 0 5vw;
    }
    article>div{
        margin-bottom: 2vw;
        padding: 0 4vw;
        border: 0.2vw solid #3F72AF;
        border-radius: 2vw;
    }
    .article{
        margin-left: 6vw;
        font-size: 4vw;
        font-family: sans-serif;
    }
    .article_date{
        font-size: 5vw;
        line-height: 0.5;
    }
}