.under_construction:hover{ /*用來標記還沒做完的*/
    background-color: yellow;
    color: black;
    font-weight: bold;
}
/*
上面複製貼上就行
*/
#profile_name{
    background-color: #DBE2EF;
    display: flex; /*下面兩行要在flex才能用*/
    align-items: center; /*區塊內的「物件」上下置中*/
    justify-content: center; /*區塊內的「物件」左右置中*/
    font-size: 6vw; /*螢幕可視範圍的百分比*/
    height: 10vw;
    font-family:  sans-serif; /*設定字體*/
    font-weight: bold; /*粗體*/
}
#a_profile{
    text-decoration: none;
    color: #112D4E;
}
#a_profile:hover, #a_profile:visited, #a_profile:link, #a_profile:active {
    text-decoration: none;/*不管被點、滑鼠指到、造訪過...都不要讓超連結顯示底線*/
    color: #112D4E;
}
#profile_picture{
    width: 6.5vw;
    margin-right: 1vw;
    border: 3px #112D4E solid;
    border-radius: 100%;
}
ul{ /*取消原本<ul>的預設排版*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.drop_down_menu{
    position: sticky; /*會卡在最上面*/
    top:0; /*要告訴他要黏在哪裡*/
    display: inline-block;/*讓元素排成一行*/
    border: none;
    font-size: 1.5vw;
    width: 100%;
    z-index: 999; /*圖層，越大越上層，防止被蓋過*/
}
.drop_down_menu>li{
    position: relative;
    white-space: nowrap; /*空格不換行*/
    width: 25%;
    background-color: #3F72AF;
    text-align: center;
    float: left;
}
.drop_down_menu>li:hover{
    background-color: #1e4672;
    font-weight: bold;
}
.drop_down_menu>li>a{
    text-decoration: none;
    color: white;
    line-height: 3vw;
}
.drop_down_menu>li>ul>li{ /*第二層選單開始*/
    background-color: #3F72AF;
    text-align: center;
    font-weight: 100; /*因為第一層滑入後會有粗體效果，不設定的話第二層會繼承到*/
}
.drop_down_menu>li>ul>li:hover{
    background-color: #1e4672;
    font-weight: bold;
}
.drop_down_menu>li>ul>li>a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
}
.drop_down_menu>li>ul{
    display: none;
}
.drop_down_menu>li:hover>ul{
    display: block;
    position: absolute; /*使用absolute，下方的元素才不會被擠開*/
    top: 3vw;
    width: 100%;
    z-index: 1000;
}
.div_main_img{
    display: flex;
    flex-wrap: wrap; /*允許內部元素換行*/
    height: 90vh;
    justify-content: center;
    align-items: center;
    z-index: -999; 
}
.div_main_img>a>img{ /*限制圖片大小*/
    max-width: 98vw;
    min-width: 98vw;
    z-index: -999; 
}
.div_main_img>a{ /*div_main_img下的所有子元素a*/
    display: block;
    position: absolute; /*要把七個圖片限制在同個位置*/
    top:29.5vh;
    left:0.5vw;
    opacity: 0;
    filter: alpha(opacity=0); /*確保在舊版本可運行，透明度（0~100）*/
/*影片長度=每張圖片5秒＊7張圖*/
 -webkit-animation: main_img 35s linear infinite; /*確保在不同懸染引擎仍可執行*/
 animation: main_img 35s linear infinite;
}
@-webkit-keyframes main_img { /*有七張，所以要把14.2%當100%用*/
    0.5% { /*約0.2秒*/
        opacity: 1;
        filter: alpha(opacity=100);
    }
    14.5% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    15% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes main_img {
    0.5% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    14.5% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    15% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
/*每個圖片各比前一張延遲5秒*/
.div_main_img>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;               
}
.div_main_img>a:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;               
}
.div_main_img>a:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;               
}
.div_main_img>a:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;               
}
.div_main_img>a:nth-child(5) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;               
}
.div_main_img>a:nth-child(6) {
    -webkit-animation-delay: 25s;
            animation-delay: 25s;               
}
.div_main_img>a:nth-child(7) {
    -webkit-animation-delay: 30s;
            animation-delay: 30s;               
}
/*滑入時停止播放*/
.div_main_img:hover>a{
-webkit-animation-play-state: paused;
        animation-play-state: paused;
}
.text{
    font-size: 2vw;
    width: 100vw;
}
.div_text{
    text-align: center; /*文字置中*/
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.social_media{
    width: 5vw;
    height: 5vw;
    margin-left: 36vw;
    margin-right: 2vw;
    aspect-ratio: 1/1; /*限制寬/高*/
}
.social_media_text{ 
    font-size: 4vw;
    text-decoration: none;/*讓超連結不要顯示底線*/
    color: #112D4E;
}
.social_media_text:visited, .social_media_text:link, .social_media_text:active {
    text-decoration: none;/*不管被點、造訪過...都不要讓超連結顯示底線*/
    color: #112D4E;
}
.social_media_text:hover{
    text-decoration: none;
    color: #3F72AF;/*滑鼠指到還是變色一下好ㄌ*/
}

/*非RWD以下都複製*/
.counter{
    font-size: 1.5vw;
    margin-right: 4vw;
    font-family: sans-serif;
    text-align: end;
    margin-top: 40vh;
    margin-bottom: 2vh;
}
#counter_img{
    height: 1.5vw;
}
footer{
    background-color: #112D4E;
    text-align: center;
    padding: 3vh 0 3vh;
}
#footer_text{
    font-size: 3vh; 
    color: #F9F7F7;
}

/*RWD，測試以360*780*/
@media screen and (max-width: 600px) {
    .drop_down_menu{
        font-size: 4vw;
    }
    .drop_down_menu>li{
        padding-top: 0.7vw;
        padding-bottom: 0.7vw;
    }
    .drop_down_menu>li:hover>ul{
        top:6vw;
    }
    .counter{
        font-size: 4vw;
        margin-right: 10vw;
        margin-top: 40vw;
        margin-bottom: 5vw;
    }
    #counter_img{
        height: 4vw;
    }
    #footer_text{
        font-size: 4vw;
    }
    /*
        .counter跟其html有改（inline-style）
        #counter_img、#footer_text也是
    */
    /*到這邊複製*/
    .div_main_img{
        height: 50vw;
    }
    .div_main_img>a{
        top: 16.5vw;
    }
    .text{
        font-size: 4vw;
    }
    #rwd_feedback_text{
            font-size: 6vw !important; /*優先度最高，壓過inline-style*/
    }
}