#text{
    font-size: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    color: #112D4E;
    font-weight: bold;
}
#div_timer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 20vw;
    margin-bottom: 5vh;
    border: #112D4E 0.5vw double;
    border-radius: 1vw;
    height: 30vh;
    background-color: #DBE2EF;
}
.timer_word{
    font-size: 10vh;
}
.timer{
    height: 25vh;
    width: 20%;
    font-size: 20vh;
    text-align: center;
    border-radius: 1vw;
    background-color: #f2f2fa;
}
#button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20vw;
}
#button>div{
    display: flex;
    height: 15vh;
    width: 40%;
    font-size: 10vh;
    justify-content: center;
    align-items: center;
    border: #112D4E 0.2vw solid;
    border-radius: 0.5vw;
    background-color: #DBE2EF;
}
#button>div:hover{
    font-weight: bold;
}
/*
下面複製貼上就行
*/
/*非RWD以下都複製*/
#title{
    text-align: center;
    padding: 5vh 0;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 10vh;
}


.tools_div_text{
    padding: 0 20vw;
    margin-top: 20vh;
}
/*RWD，測試以360*780*/
@media screen and (max-width: 600px) {
    #title{
        padding: 5vw 0;
        font-size: 8vw;
        margin-bottom: 10vw;
    }
    /*
        .counter跟其html有改（inline-style）
        #counter_img、#footer_text、#title也是
    */
    /*到這邊複製*/
    .tools_div_text{
        padding: 0 5vw;
        margin-top: 10vw;
    }
    #rwd_tools_text{
        font-size: 4vw !important;
    }
    h1{
        font-size: 6vw !important;
    }

    #text{
        font-size: 8vw;
        margin-top: 10vw;
    }
    #div_timer{
        margin: 3vw 5vw;
        margin-bottom: 3vw;
        height: 20vw;
        border-radius: 3vw;
    }
    .timer_word{
        font-size: 7vw;
    }
    .timer{
        height: 15vw;
        width: 20%;
        font-size: 12vw;
        border-radius: 2vw;
    }
    #button{
        margin: 0 5vw;
    }
    #button>div{
        height: 10vw;
        width: 40%;
        font-size: 8vw;
        border: #112D4E 0.3vw solid;
        border-radius: 3vw;
    }
}